@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.header__loc {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #f3f3f3;
}
.header__loc__map {
  align-self: center;
  font-size: 0.8em;
  color: #3e3e3e;
}
.header__loc__p {
  font-size: 0.8em;
  color: #3e3e3e;
}

.header__nav {
  display: flex;
  padding: 20px 0px 13px 0px;
  box-shadow: 0px 2px 2px #d5d5d5;
  position: relative;
  z-index: 1;
}
.header__nav__a {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header__nav__a__img {
  display: flex;
  width: 137px;
  object-fit: cover;
}
body {
  width: auto;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.main__header__teaser {
  display: flex;
  background-color: #f8f8f8;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 12px 50px 12px;
}
.main__header__teaser__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0%;
}
.main__header__teaser__p {
  color: #626262;
  font-size: 1em;
}
.main__header__teaser__button {
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  width: 75%;
  max-width: 295px;
  max-height: 66px;
  min-width: 129px;
  padding: 15px 0px 15px 0px;
  border-radius: 25px;
  text-decoration: none;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 2px 3px 10px #888;
  font-size: 1em;
}

.main__aside {
  padding: 25px 10% 50px 10%;
}
.main__aside__card {
  padding-left: 5px;
  display: flex;
  gap: 25px;
}
.main__aside__card__content {
  display: flex;
  gap: 10px;
  background-color: #f8f8f8;
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  width: 33%;
  height: 80px;
  box-shadow: 2px 3px 10px #888;
}
.main__aside__card__content__icone {
  align-self: center;
  color: #626262;
  font-size: 1.2em;
}
.main__aside__card__content__number {
  display: flex;
  background-color: #9356dc;
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  border-radius: 10px;
  justify-content: center;
  align-self: center;
  color: white;
  position: relative;
  right: 8px;
  font-weight: bold;
  font-size: 0.9em;
}
.main__aside__card__content__instruct {
  width: 100%;
  padding-left: 20px;
  font-weight: bold;
  font-size: 0.9em;
  align-self: center;
  display: flex;
  justify-content: flex-start;
}
@media all and (max-width: 1199px) {
  .main__aside {
    padding: 25px 10px 50px 10px;
  }
}
@media all and (max-width: 767px) {
  .main__aside__card {
    flex-direction: column;
  }
  .main__aside__card__content {
    width: 100%;
    height: 60px;
  }
}

.main__article {
  padding: 25px 10% 50px 10%;
  background-color: #f8f8f8;
}
.main__article__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 240px);
  gap: 3%;
}
.main__article__card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 230px;
  border-radius: 15px;
  box-shadow: 2px 3px 10px #888;
  margin-bottom: 15px;
}
.main__article__card__content__img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  display: block;
}
.main__article__card__content__name {
  margin-bottom: 5px;
  padding-left: 10px;
}
.main__article__card__content__p {
  margin-top: 0px;
  padding-left: 10px;
}
.main__article__card__content__heart {
  width: 20px;
  font-size: 1.5em;
  position: absolute;
  right: 25px;
  bottom: 45px;
}
.main__article__card__content__new {
  position: absolute;
  right: 20px;
  font-size: 0.9em;
  color: #008766;
  background-color: #99e2d0;
  width: 80px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  border-radius: 3px;
}
@media all and (max-width: 767px) {
  .main__article__card {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 1199px) {
  .main__article {
    padding: 25px 10px 50px 10px;
  }
}

.main__footer {
  background-color: #3c3c3c;
  padding: 20px 10% 20px 10%;
}
@media all and (max-width: 767px) {
  .main__footer {
    padding: 20px 0px 20px 15px;
  }
}
.main__footer__logo {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-weight: 100;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 767px) {
  .main__footer__logo {
    display: inline;
  }
}
.main__footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}
@media all and (max-width: 767px) {
  .main__footer__list {
    flex-direction: column;
  }
}
.main__footer__list__element {
  padding: 15px 0px 5px 0px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-self: center;
}
@media all and (max-width: 767px) {
  .main__footer__list__element {
    width: 100%;
    justify-content: flex-start;
  }
}
.main__footer__list__element__a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  gap: 10px;
}
.main__footer__list__element__a.bold {
  font-weight: bold;
}
.main__footer__list__element__a__icone {
  font-size: 0.8em;
  width: 10px;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
