@mixin mobile {
  @media all and (max-width: map-get($breakpoint, mobile)) {
    @content;
  }
}

@mixin titleFont {
  font-family: map-get($font, title);
}

@mixin textFont {
  font-family: map-get($font, text);
}

@mixin shadow {
  box-shadow: 2px 3px 10px map-get($color, grey);
}
