.header {
  @include mobile {
  }
  &__loc {
    display: flex;
    gap: 15px;
    background-color: map-get($color, lgrey);
    @include mobile {
      padding-left: 28%;
    }
    &__map {
      align-self: center;
      font-size: 0.8em;
      color: darken(map-get($color, dgrey), 5%);
    }
    &__p {
      font-size: 0.8em;
      color: darken(map-get($color, dgrey), 5%);
    }
  }
}
