.header {
  &__loc {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: lighten(map-get($color, grey), 42%);
    &__map {
      align-self: center;
      font-size: 0.8em;
      color: darken(map-get($color, grey), 29%);
    }
    &__p {
      font-size: 0.8em;
      color: darken(map-get($color, grey), 29%);
    }
  }
}
