.header__nav {
  display: flex;
  justify-content: center;
  padding: 20px 10% 13px 10%;
  box-shadow: 0px 2px 2px lighten(map-get($color, grey), 30%);
  position: relative;
  z-index: 1;
  @include mobile {
  }
  &__a {
    display: flex;
    width: 137px;
    justify-content: center;
    text-decoration: none;
    color: black;
    @include mobile {
    }
    &__img {
      display: flex;
      width: 137px;
      object-fit: cover;
      @include mobile {
      }
    }
    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40%;
      left: 40%;
      font-size: 1.1em;
      color: darken(map-get($color, grey), 30%);
      &::after {
        padding-left: 10px;
        content: "Retour";
        @include textFont;
        @include mobile {
          content: none;
        }
      }
    }
  }
  &__a.menu {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
  }
}
