.main__section {
  padding: 0px 10% 50px 10%;
  margin: -70px 10% 0px 10%;
  position: relative;
  background-color: lighten(map-get($color, grey), 44%);
  border-radius: 40px 40px 0 0;

  @include tablet {
    margin: -70px 0 0 0;
    padding: 0 0 50px 0;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin: 0;
    @include tablet {
      padding: 0 10%;
    }
    @include mobile {
      padding: 0 15px;
    }
    &__h1 {
      @include titleFont;
      font-weight: 100;
    }
    &__heart {
      align-self: center;
      font-size: 1.5em;
      &:hover {
        font-weight: bold;
        color: white;
        background: linear-gradient(
          176deg,
          map-get($color, secondary) 0%,
          map-get($color, primary) 100%
        );

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:active {
        font-weight: bold;
        color: white;
        background: linear-gradient(
          176deg,
          map-get($color, secondary) 0%,
          map-get($color, primary) 100%
        );

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__menu {
    padding: 0 10%;
    @include mobile {
      padding: 0;
    }
    &__step {
      padding: 0 15px;
      &__title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1em;
        margin-bottom: 5px;
      }
      &__divider {
        border-bottom: 2px solid map-get($color, tertiary);
        margin-bottom: 20px;
        width: 38px;
      }
      &__cards {
        margin-bottom: 35px;
        &__card {
          position: relative;
          background-color: map-get($color, white);
          display: flex;
          flex-direction: column;
          padding: 10px;
          margin-bottom: 15px;
          border-radius: 15px;
          @include shadow;
          &__name {
            font-size: 1em;
            margin: 0 0 4px 0;
          }
          &__desc {
            font-size: 0.8em;
            margin: 0;
          }
          &__price {
            font-size: 0.8em;
            position: absolute;
            margin: 0;
            bottom: 10px;
            right: 10px;
          }
        }
      }
    }
  }
  &__order {
    display: flex;
    justify-content: center;
    background-color: lighten(map-get($color, grey), 44%);
    padding: 20px 0;
    &__button {
      background: linear-gradient(
        176deg,
        map-get($color, secondary) 0%,
        map-get($color, primary) 100%
      );
      width: 75%;
      max-width: 295px;
      max-height: 66px;
      min-width: 129px;
      padding: 15px 0px 15px 0px;
      border-radius: 25px;
      text-decoration: none;
      border: none;
      color: white;
      font-weight: bold;
      @include shadow;
      font-size: 1em;
      text-align: center;
    }
  }
}
